.grid {
  display: grid;
  grid-template-columns: repeat(var(--width), 1fr);
  grid-template-rows: repeat(var(--height), 1fr);
  height: 100vh;
  -webkit-user-select: none;
  user-select: none;
  width: 100vh;

  > div {
    box-sizing: border-box;
    border: 1px solid #7f7042;
    position: relative;
    background-image: radial-gradient(
      ellipse at center,
      transparent 0%,
      transparent 20.5%,
      #000 21.484374%
    );

    &[data-final] {
      background-image: radial-gradient(
        ellipse at center,
        transparent 0%,
        transparent 20.5%,
        rgba(0, 0, 0, 0.8) 21.484374%
      );
    }

    &[data-point] {
      background-image: radial-gradient(
        ellipse at center,
        transparent 0%,
        transparent 49.5%,
        #000 50%
      );
    }
    &[data-point][data-final] {
      background-image: radial-gradient(
        ellipse at center,
        transparent 0%,
        transparent 49.5%,
        rgba(0, 0, 0, 0.8) 50%
      );
    }

    &::after,
    &::before {
      content: '';
      background-color: inherit;
      display: block;
      position: absolute;

      [data-debug] & {
        color: #fff;
        content: attr(data-i);
      }
    }

    &[data-t]::before {
      width: 30%;
      height: 50%;
      left: 35%;
      top: -1px;
    }
    &[data-b]::before {
      width: 30%;
      height: 50%;
      left: 35%;
      bottom: -1px;
    }
    &[data-l]::before {
      width: 50%;
      height: 30%;
      left: -1px;
      top: 35%;
    }
    &[data-r]::before {
      width: 50%;
      height: 30%;
      right: -1px;
      top: 35%;
    }

    &[data-t][data-b]::before {
      width: 30%;
      height: calc(100% + 2px);
      left: 35%;
      top: -1px;
    }
    &[data-l][data-r]::before {
      width: calc(100% + 2px);
      height: 30%;
      left: -1px;
      top: 35%;
    }

    &[data-t][data-l]::before {
      width: 30%;
      height: 50%;
      left: 35%;
      top: -1px;
    }
    &[data-t][data-l]::after {
      width: 50%;
      height: 30%;
      left: -1px;
      top: 35%;
    }

    &[data-t][data-r]::before {
      width: 30%;
      height: 50%;
      left: 35%;
      top: -1px;
    }
    &[data-t][data-r]::after {
      width: 50%;
      height: 30%;
      right: -1px;
      top: 35%;
    }

    &[data-b][data-l]::before {
      width: 30%;
      height: 50%;
      left: 35%;
      top: auto;
      bottom: -1px;
    }
    &[data-b][data-l]::after {
      width: 50%;
      height: 30%;
      left: -1px;
      top: 35%;
    }

    &[data-b][data-r]::before {
      width: 30%;
      height: 50%;
      left: 35%;
      top: auto;
      bottom: -1px;
    }
    &[data-b][data-r]::after {
      width: 50%;
      height: 30%;
      right: -1px;
      top: 35%;
    }

    &[data-id='1'] {
      background-color: #fc0d1b;
    }
    &[data-id='2'] {
      background-color: #0f7f12;
    }
    &[data-id='3'] {
      background-color: #0b24fb;
    }
    &[data-id='4'] {
      background-color: #eeec33;
    }
    &[data-id='5'] {
      background-color: #fd7f23;
    }
    &[data-id='6'] {
      background-color: #2dfffe;
    }
    &[data-id='7'] {
      background-color: #fc28fc;
    }
    &[data-id='8'] {
      background-color: #a32b2e;
    }
    &[data-id='9'] {
      background-color: #7f0f7e;
    }
    &[data-id='10'] {
      background-color: #fff;
    }
    &[data-id='11'] {
      background-color: #a6a6a6;
    }
    &[data-id='12'] {
      background-color: #29fd2f;
    }
    &[data-id='13'] {
      background-color: #bdb66f;
    }
    &[data-id='14'] {
      background-color: #030e88;
    }
    &[data-id='15'] {
      background-color: #11807f;
    }
    &[data-id='16'] {
      background-color: #fc2293;
    }
  }
}
